# Task 1 create a soup with bs4 and load the data to work later on it

In [1]:
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
fd = open("List of countries by GDP (nominal) - Wikipedia.htm", "r")
soup = BeautifulSoup(fd)
fd.close()

C:\Users\ROCHIT\Anaconda3\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Users\ROCHIT\Anaconda3\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

UnicodeDecodeError: 'charmap' codec can't decode byte 0x90 in position 561490: character maps to <undefined>

# Task 2 How many tables are there?

In [ ]:
all_tables = soup.find_all("table")
print("Total number of tables are {} ".format(len(all_tables)))

# Task 3 find the right table using the class attribute

In [ ]:
data_table = soup.find("table", {"class": '"wikitable"|}'})
print(type(data_table))

# Task 4 Let's separate the source and the actual data

In [156]:
sources = data_table.tbody.findAll('tr', recursive=False)[0]
sources_list = [td for td in sources.findAll('td')]
print(len(sources_list))

3

In [157]:
data = data_table.tbody.findAll('tr', recursive=False)[1].findAll('td', recursive=False)

In [158]:
data_tables = []
for td in data:
    data_tables.append(td.findAll('table'))

In [159]:
len(data_tables)

3

# Task 5 Checking how to get the source names

In [160]:
source_names = [source.findAll('a')[0].getText() for source in sources_list]
print(source_names)

['International Monetary Fund', 'World Bank', 'United Nations']

# Task 6 Seperate the header and data for the first source

In [161]:
header1 = [th.getText().strip() for th in data_tables[0][0].findAll('thead')[0].findAll('th')]
header1

['Rank', 'Country', 'GDP(US$MM)']

In [162]:
rows1 = data_tables[0][0].findAll('tbody')[0].findAll('tr')[1:]

In [163]:
data_rows1 = [[td.get_text().strip() for td in tr.findAll('td')] for tr in rows1]

In [164]:
df1 = pd.DataFrame(data_rows1, columns=header1)

In [165]:
df1.head()

  Rank         Country  GDP(US$MM)
0    1   United States  19,390,600
1    2      China[n 1]  12,014,610
2    3           Japan   4,872,135
3    4         Germany   3,684,816
4    5  United Kingdom   2,624,529

# Task 7 Do the same for the other two sources

In [166]:
header2 = [th.getText().strip() for th in data_tables[1][0].findAll('thead')[0].findAll('th')]
header2

['Rank', 'Country', 'GDP(US$MM)']

In [167]:
rows2 = data_tables[1][0].findAll('tbody')[0].findAll('tr')[1:]

In [168]:
def find_right_text(i, td):
    if i == 0:
        return td.getText().strip()
    elif i == 1:
        return td.getText().strip()
    else:
        index = td.text.find("♠")
        return td.text[index+1:].strip()

In [169]:
data_rows2 = [[find_right_text(i, td) for i, td in enumerate(tr.findAll('td'))] for tr in rows2]

In [170]:
df2 = pd.DataFrame(data_rows2, columns=header2)

In [171]:
df2.head()

  Rank             Country  GDP(US$MM)
0    1       United States  19,390,604
1       European Union[23]  17,277,698
2    2          China[n 4]  12,237,700
3    3               Japan   4,872,137
4    4             Germany   3,677,439

In [172]:
# Now for the third one
header3 = [th.getText().strip() for th in data_tables[2][0].findAll('thead')[0].findAll('th')]
header3

['Rank', 'Country', 'GDP(US$MM)']

In [173]:
rows3 = data_tables[2][0].findAll('tbody')[0].findAll('tr')[1:]

In [174]:
data_rows3 = [[find_right_text(i, td) for i, td in enumerate(tr.findAll('td'))] for tr in rows2]

In [175]:
df3 = pd.DataFrame(data_rows3, columns=header3)
df3.head()

  Rank             Country  GDP(US$MM)
0    1       United States  19,390,604
1       European Union[23]  17,277,698
2    2          China[n 4]  12,237,700
3    3               Japan   4,872,137
4    4             Germany   3,677,439